services:
  techchallengeusers:
    image: techchallengeusers
    ports:
      - '8080:8080'
      - '8081:8081'
    depends_on:
      - sqldatabasetechchallengeusers
    environment:
      ConnectionStrings__DefaultConnection: "Data Source=sqldatabasetechchallengeusers, 1433;Database=TechChallengeFastFoodUsers;Integrated Security=false;User ID=sa;Password=Mssql!Passw0rd;TrustServerCertificate=true;Max Pool Size=200;Min Pool Size=10;Connection Timeout=30;"
      Jwt__Key: "08fa1d833b85a776166dd0a30ec21687"
      Jwt__Issuer: "http://localhost:8080"
      Jwt__Audience: "http://localhost:8080"
      Jwt__ExpirationMinutes: "60"
    restart: on-failure:5
    deploy:
      resources:
        limits:
          memory: 300MB
          cpus: 0.4
    healthcheck:
      test: curl --fail http://localhost:8080/healthz || exit 1
      interval: 40s
      timeout: 30s
      retries: 3
      start_period: 60s
    build:
      context: .
      dockerfile: src/Adapters/Driving/TechChallengeUsers.API/Dockerfile
      
  sqldatabasetechchallengeusers:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqldatabasetechchallengeusers
    ports:
      - "1433:1433"
    environment:
      ACCEPT_EULA: 'Y'
      MSSQL_SA_PASSWORD: 'Mssql!Passw0rd'
    restart: unless-stopped
    volumes:
      - mssql_data:/var/opt/mssql
    deploy:
      resources:
        limits:
          memory: 1GB

volumes:
  mssql_data: { }