replicaCount: 1

image:
  repository: ${DOCKER_REGISTRY}
  imageName: tech-challenge-grupo-118-users-fase-4
  tag: "${POC_IMAGE_TAG}"  # Will be set via --set or CI/CD
  pullPolicy: IfNotPresent

imagePullSecrets:
  - name: tech-challenge-grupo-118-users-fase-4-acr-secret

acrCredentials:
  enabled: true
  registry: "${DOCKER_REGISTRY}"
  username: "${ACR_USERNAME}"  # Will be set via --set or CI/CD
  password: "${ACR_PASSWORD}"  # Will be set via --set or CI/CD

nameOverride: "tech-challenge-grupo-118-users-fase-4"
fullnameOverride: "tech-challenge-grupo-118-users-fase-4"

serviceAccount:
  create: true
  annotations: {}
  name: "tech-challenge-grupo-118-users-fase-4-sa"

service:
  port: 80
  instances:
    - name: tech-challenge-grupo-118-users-fase-4
      type: ClusterIP
      port: 80
      targetPort: 8080
      portName: http

internalIngress:
  enabled: true
  className: "nginx-internal-static"
  path: /users-api(/|$)(.*)
  pathType: ImplementationSpecific
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$2
    nginx.ingress.kubernetes.io/use-regex: "true"
  tls: []


resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi

livenessProbe:
  httpGet:
    path: /healthz  
    port: http
  initialDelaySeconds: 90
  periodSeconds: 30
  timeoutSeconds: 30
  successThreshold: 1
  failureThreshold: 4
readinessProbe:
  httpGet:
    path: /healthz  
    port: http
  initialDelaySeconds: 30
  periodSeconds: 5
  timeoutSeconds: 5
  failureThreshold: 10

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 70

volumes: []
volumeMounts: []

configMap:
  enabled: false

secret:
  enabled: true
  name: "tech-challenge-grupo-118-users-fase-4"
  annotations: {}
  data:
    #         STEPS: 2. Criação das chaves no secret, com os valores que foram mapeados dos segredos
    users-db-connectionstring: "${ConnectionStrings__DefaultConnection}"
    users-jwt-key: "${Jwt__Key}"
    users-jwt-issuer: "${Jwt__Issuer}"
    users-jwt-audience: "${Jwt__Audience}"
    users-security-key: "${Security__Key}"

  #         STEPS: 3. Mapear as chaves dos segredos para variaveis de ambientes, no formato que o asp.net reconhece para sobrescrever as configs do json
  envVars:  
    - name: ConnectionStrings__DefaultConnection
      secretKey: users-db-connectionstring
    - name: Jwt__Key
      secretKey: users-jwt-key
    - name: Jwt__Issuer
      secretKey: users-jwt-issuer
    - name: Jwt__Audience
      secretKey: users-jwt-audience
    - name: Security__Key
      secretKey: users-security-key

nodeSelector: {}

tolerations: []

affinity: {}  
