name: CD Pipeline

on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: 'Image tag to deploy'
        required: true
      helm_chart_version:
        description: 'Helm chart version to deploy'
        required: true
      helm_chart_name:
        description: 'Field to insert the Helm Chart Name'
        required: true
        default: "grupo118fase4"
      helm_release_name:
        description: 'Field to define the release name'
        required: true
        default: 'tech-challenge-grupo-118-users-fase-4'

jobs:
  deploy:
    uses: Grupo-118-Tech-Challenge-Fiap-11SOAT/terraform-template-pipeline-grupo118-fase-3/.github/workflows/dotnet-cd-template.yml@main
    secrets: inherit
    with:
      helm_chart_version: ${{ github.event.inputs.helm_chart_version }}
      helm_chart_name: ${{ github.event.inputs.helm_chart_name }}
      helm_values_file: "helm/values-production.yaml"
      helm_release_name: ${{ github.event.inputs.helm_release_name }}
      #         STEPS: 1. Mapear os segredos para as variaveis do helm, do jeito que api espera
      secrets_mapping: |
        {
            "DOCKER_REGISTRY": "DOCKER_REGISTRY",
            "ACR_USERNAME": "ACR_USERNAME",
            "ACR_PASSWORD": "ACR_PASSWORD",
            "ConnectionStrings__DefaultConnection": "GS_USERS_DATABASE_CONNECTION_STRING",
            "Jwt__Key": "GS_USERS_JWT_KEY",
            "Jwt__Issuer": "GS_USERS_JWT_ISSUER",
            "Jwt__Audience": "GS_USERS_JWT_AUDIENCE",
            "Security__Key": "GS_USERS_SECURITY_KEY"
        }
      variables_mapping: |
        {
          "POC_IMAGE_TAG": "${{ github.event.inputs.image_tag }}",
        }